<div class="container-fluid" id="container-fluid">
    <br><br>
    <div class="row">
        <div class="col-4">
            <form action="/courses/{{course._id}}?_method=PUT" method="POST" class="form-edit-course needs-validation"
                novalidate>
                <input type="hidden" name="_method" value="PUT">
                <h4>Session</h4>
                <hr>
                
                <button type="submit" class="btn btn-default btn-lg btn-block">Update &nbsp;&nbsp;
                    <i class="fa fa-pencil fa-lg"></i>
                </button>
            </form>

        </div>

    </div>
</div>