<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pdf Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <table class="table table-sm table-borderless" width="75%" hight="75%" border="0" style="margin: 0;" cellspacing="0"
        cellpadding="0">
        <tbody style="font-size: .5rem;">
            <tr>
                <td align="left" valign="top" bgcolor="#ffe77b" style="background-color:#fff;">
                    <img height="75" width="75" src="https://res.cloudinary.com/tsp/image/upload/v1664338574/sampleImage.png"
                        alt="">
                </td>
                <td bgcolor="#ffe77b" style="background-color: #fff; text-align:left">
                    <h1 style="font-weight: 900; margin-left: 65px; ">S.D.M. Public High School</h1>
                    <h6 style="margin-left: 65px;">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspM.S. Road Morena <br /></h6>
                </td>
            </tr>
            <tr>
                <th colspan="2" style="padding: 4px; text-align:center">
                    <p style="font-size: 1rem;margin: 0;"><b>{{examType}} Examination 2022-2023</b></p>
                </th>
            </tr>
            <tr>
                <th colspan="2" style="padding: 4px; text-align:center">
                    <p style="font-size: 1rem;margin: 0;"><b>MARK-SHEET</b></p>
                </th>
            </tr>
        </tbody>
    </table>

    <table class="table table-borderless">
        <tbody style="font-size: .65rem;">
            <tr>
                <td scope="row" style="padding: 4px; text-align:left">
                    <p>
                        <b>Admission No. - {{student.AdmissionNumber}} </b><br>
                        <b>Student's name - {{student.StudentName.FirstName}} {{student.StudentName.LastName}} </b><br>
                        <b>Father's Name - {{student.FathersName}}</b><br>
                        <b>Mother's Name - {{student.MothersName}}</b>
                    </p>
                </td>
                <td scope="row" style="padding: 4px; text-align:right;">
                    <p>
                        <b>Class - {{course.displayName}}</b><br>
                        <b>Medium - English</b><br>
                        <b>Date of Birth - {{student.DateOfBirth}} </b>
                    </p>
                </td>
            </tr>

        </tbody>
    </table>

    <table class="table table-bordered" style="border-color:black;">
        <tbody style="font-size: .95rem;">
            <tr>
                <th scope="row" style="padding: 4px; width: 34.3%">Subjects</th>
                <th scope="row" style="padding: 4px; width: 11.5%">Max. Marks</th>
                <th scope="row" style="padding: 4px; width: 11.5%">Min. Marks</th>
                <th scope="row" style="padding: 4px; width: 17.2%">Marks Obtained</th>
                <th scope="row" style="padding: 4px; width: 25.5%">Remarks</th>

            </tr>
            <tr>
                <td style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;"> <b>{{#each nSubs}}
                        {{this.name}}<br>
                        {{/each}}</b></p>
                </td>
                <td style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;"><b>{{#each nSubs}}
                        {{this.maxMarks}}<br>
                        {{/each}}</b></p>
                </td>
                <td style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;"><b>{{#each nSubs}}
                        {{this.passingMarks}}<br>
                        {{/each}}</b></p>
                </td>
                <td style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;">{{#each nSubs}}
                        {{this.marks}}<br>
                        {{/each}}</p>
                </td>
                <td style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;">
                        Result <b>{{student.result}}</b><br>
                        {{#ifCond student.result "==" 'PASS'}}   Percentage <b>{{student.percentage}}%</b><br> {{/ifCond}}
                        {{#ifCond examType "==" 'Final'}}   Percentage <b>{{student.percentage}}%</b><br> {{/ifCond}}
                        <br>
                        Position
                        <br>
                    </p>
                </td>
            </tr>
            <tr>
                <th scope="row" style="padding: 4px; width: 34.3%">GRAND TOTAL</th>
                <th scope="row" style="padding: 4px; width: 11.5%">{{student.totalMaxMarks}}</th>
                <th scope="row" style="padding: 4px; width: 11.5%"></th>
                <th scope="row" style="padding: 4px; width: 17.2%">{{student.totalMarksObtained}}</th>
                <th scope="row" style="padding: 4px; width: 25.5%"></th>

            </tr>
            <tr>
                <td colspan="5" scope="row" style="padding: 4px;"><b>Total in Words- {{student.totalMarksObtainedWord}}</b></td>

            </tr>
            {{#ifCond student.gSubs.length ">" 0}}
            <tr>
                <th colspan="5" scope="row" style="padding: 4px;">GRADING SUBJECTS </th>

            </tr>
            <tr>
                <td style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;"><b>{{#each student.gSubs}}
                        {{this.name}}<br>
                        {{/each}}</b></p>
                </td>
                <td colspan="4" style="padding: 4px;">
                    <p style=" margin: 0px; line-height: 250%;">{{#each student.gSubs}}
                        {{this.marks}}<br>
                        {{/each}}</p>
                </td>
            </tr>
            {{/ifCond}}
            <tr>
                <th colspan="5" style="padding: 4px; width: 900px"> GENERAL REMARKS -
                    {{#each dummyLenArr}}
                    <br>&nbsp
                    {{/each}}
                    <p  style="font-size: 9px;"> <i>Class Teacher's Signature
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            Parent's Signature
                            &nbsp&nbsp&nbsp&nbsp&nbsp
                            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                            Principal's Signature</i></p>
                </th>
            </tr>
        </tbody>
    </table>
</body>

</html>
